:root {
  --pureBlack: #000000;
  --pureWhite: #FFFFFF;

  --black: #101012;
  --neutral: #A9A9BC;

  --primary: #FD6960;
  --secondary: #8DD393;
  --secondaryActive: #73BC79;

  /* Social login */
  /* Facebook */
  --facebookBlue: #1A387B;
  /* LinkedIn */
  --linkedinBlue: #275597;
  /* Google */
  --googleRed: #A91D07;
};
