.footer {
    background: var(--neutral);
    bottom: 0;
    color: var(--secondary);
    font-family: var(--font-primary);
    padding: 5px 0 10px 0;
    position: fixed;
    text-align: center;
    width: 100vw;
}
